.vet_proyecto{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.vet_proyecto_1{
    position:absolute;
    left: 50%;
    top: 50%;
    /*-ms-transform: translate(-50%, -50%);*/
   /* -webkit-transform: translate(-50%, -50%);  */
   /* transform: translate(-50%, -50%);*/
    padding: 20px;
    width: 80%;
    text-align: center;
    background-color: transparent;
    color: #fff;
    margin: auto;
}
